/* default */
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}

/*img :hover,:focus */
 .gallery-image:hover,:focus{
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
} 
/* basicLightbox */
.basicLightbox{
  background-color: rgba(46, 47, 66, 0.8);
}
